{% extends 'base.html.twig' %}

{% block form %}
    {{ form_start(formDemo) }}
    <form action="">
        <p class="the-form__title heading3">
            Solicita una demo
        </p>

        <div class="the-form__group">
            <label for="name">
                Nombre
            </label>
            {{ form_widget(formDemo.name) }}
        </div>

        <div class="the-form__group">
            <label for="email">
                Email
            </label>
            {{ form_widget(formDemo.email) }}
        </div>

        <div class="the-form__group">
            <label for="city">
                Ciudad
            </label>
            {{ form_widget(formDemo.city) }}
        </div>

        <div class="the-form__group the-form__group_checkbox">
            <input type="checkbox"
                   id="privacity">
            <label for="privacity">
                Aceptas la <a href="#">política de privacidad</a>
            </label>
        </div>

        <input type="submit"
               class="the-form__btn btn btn-lg btn-primary"
               value="Enviar">
    </form>
    {{ form_end(formDemo) }}
{% endblock %}
