{% extends 'base.html.twig' %}

{% block title %}Solicitudes Demo{% endblock %}
{% block body %}
    <div class="row">
        <h1>Listado de articulos</h1>
    </div>
    <div class="row">
            {% for solicitud in solicitudes %}
                <ul>
                    <li>{{ solicitud.name }}</li>
                    <li>{{ solicitud.email }}</li>
                    <li>{{ solicitud.city }}</li>
                </ul>
            {% endfor %}
    </div>
    <div class="row">
        <a class="btn btn-primary" href="{{ path('homepage') }}">VOLVER</a>
    </div>
{% endblock %}